{
  "presets": [
    "flow",
    "react"
  ],
  "plugins": [
    "syntax-dynamic-import",
    "transform-class-properties",
    "transform-export-extensions",
    "transform-object-rest-spread",
    "lodash"
  ],
  "env": {
    "test": {
      "presets": [
        ["env", {"targets": {"node": "current"}}],
        "flow", "react"
      ],
      "plugins": [
        "syntax-dynamic-import",
        "transform-class-properties",
        "transform-export-extensions",
        "transform-object-rest-spread",
        "transform-runtime",
        "lodash"
      ]
    },
    "coverage": {
      "presets": [
        ["env", {"targets": {"node": "current"}}],
        "flow", "react"
      ],
      "plugins": [
        "syntax-dynamic-import",
        "transform-class-properties",
        "transform-export-extensions",
        "transform-object-rest-spread",
        "transform-runtime",
        "istanbul",
        "lodash"
      ]
    },
    "es5": {
      "presets": [
        ["env", {"forceAllTransforms": true}],
        "stage-1", "flow", "react"
      ],
      "plugins": [
        "transform-runtime",
        "lodash"
      ]
    },
    "production": {
      "plugins": [
        "syntax-dynamic-import",
        "transform-class-properties",
        "transform-export-extensions",
        "transform-object-rest-spread",
        "transform-react-constant-elements",
        "lodash"
      ]
    }
  }
}
